<form action="/forgot-password" method="POST">
  <input type="email" name="email" placeholder="Enter your valid email" required />
  <button style="color: green;" type="submit">Reset Password</button>
</form>

